.header{
    background: rebeccapurple;
    margin-bottom: 1.45rem;
    max-width: full-width;
 }
  .header-text{
    color: white;
    text-decoration: none;
 }
  .header-author {
    margin: 0 auto;
    padding: 1% 15%;
 }
 .header-author-text {
    margin: 0;
 }
 @media screen and (max-width: 575px) {
    .header{
        background: rebeccapurple;
        margin-bottom: 1.45rem;
        max-width: full-width;
    }
    .header-author {
        margin: 0;
     }  
 }