.hero {
    margin: 50px 15%;
    max-width: 800px;
    padding: 0 1.1rem ;
  }
  
  .hero-text {
      font-size: calc(24px + 1.5vw);
      line-height: 1.2;
  }
  
  .hero-author {
    display: flex;
    margin: 0 0 0 5%;
  }
  
  .hero-author-image {
    border-radius: 50%;
    width: 40px;
    height: 40px;
  }
  
  .hero-author-text {
    color: #595959;
    margin: 0 0 0 10px;
  }
  @media screen and (max-width: 575px) {
    .hero {
        margin: 50px 0%;
        max-width: 800px;
        padding: 0 1.1rem ;
      }
      .hero-author {
        display: flex;
        margin: 0 0 0 0%;
      }
  }
